<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('meta') %>
    <title>Document</title>
</head>
<body>
    <h1>Hello, <%=username%></h1>
    <p>Your followers are 
        <% for (const follower of followers) { %>
           <a href="<%=follower.html_url%>">
                <img src="<%=follower.avatar_url%>">
                <%=follower.login%>
           </a>
        <%}%>
    </p>
    <p>You are following
        <% for (const follow of following) { %>
           <a href="<%=follow.html_url%>">
                <img src="<%=follow.avatar_url%>">
                <%=follow.login%>
           </a>
        <%}%>
    </p>
    <a href="/">Back</a>
    </body>
</html>