<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/meta') %>
    <title>Document</title>
</head>
<body>
    <div class="container fit-width">
        <h1 >Hello, <%=username%></h1>
        <p>Your are followed by or following:
            <% for (const connection of connections) { %>
            <a href="<%=connection.html_url%>">
                    <img class="icon" src="<%=connection.avatar_url%>">
                    <%=connection.login%>
            </a>
            |Mutual Connections: <%=connection.mutualConnections.length %>
            <%}%>
        </p>
        <a href="/?username=<%=username%>">Back</a>
    </div>
</body>
</html>