<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/meta') %>
    <title>Document</title>
</head>
<body>
    <div class="container fit-width">
        <h1 >Hello, <%=username%></h1>
        Here are some people you might know:
            <% for (const connection of connections) { %>
                <div>
                    <img class="icon" src="<%=connection.avatar_url%>">
                    <a class="connection" target = "__blank" href="<%=connection.html_url%>">
                            <h4><%=connection.login%></h4>
                    </a>
                </div>
                <div class="mutuals dim-color">
                    <% if (connection.mutualConnections.length > 0) {%>
                        Mutual Connections(<%=connection.mutualConnections.length%>):
                            <ul>
                                <% for(const mutual of connection.mutualConnections) {%>
                                    <li><%=mutual.login%></li>
                                <% } %>
                            </ul>
                    <%} else {%>
                        No mutual connections
                    <%}%>
                </div>
            <%}%>
        <a href="/?username=<%=username%>">Back</a>
    </div>
</body>
</html>